<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    <meta charset="UTF-8">
    <title>DogBook</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <center>
            <h1>The Official DogBook privacy policy</h1>
            <p class="lead text-center">
  We know that you'll have some concerns about your privacy and hence created this page for you. For any assistance, please write to us at doghelp@DogBook.org. Put on your lawyer's eye and start reading!!
            </p>
            <br>
            <hr>
            <h3>Here's a sample question about your privacy...</h3>
            <p>Here's a sample answer</p>
            <br>
            <h3>Here's a sample question about your privacy...</h3>
            <p>Here's a sample answer</p>
        </center>
    </div>
    {% endblock %}
</body>
</html>